.table {
    width: 60%;
    margin: 5% auto;
    border-collapse: collapse; /* убирает отступы между ячеек */
    font-size: 22px;
}

td {
    border-bottom: 1px solid black;
    padding: 20px;
    text-align: center;
}

th {
    border-bottom: 1px solid black;
    padding: 20px;
    background: #dadada;
}


