.parent {
    padding: 20px;
    width: 30%;
    background: rgba(148, 37, 239, 0.7);
}

.child {
    /* чтобы блок не вылетал из родительского блока, нужно
     поменять логику подсчета размеров блока */
    box-sizing: border-box;
    /* border-box - размер блока НЕ прибавляет к ширине отступы и размеры рамок
        content-box - размер блока прибавляет к ширине отступы и размеры рамок
    */
    width: 100%;
    padding: 10px 20px;
    border: 5px solid black;
}