.outline {
    margin: 5%;
    padding: 5%;
    background: gray;
    border: 1px solid #666666;
}

.column {
    display: inline-block;  /* колонки будут выстроены в строчку */
    /*
    block - превращает элемент в блочный (из строчного)
    inline - превращает элемент в строчный (из блочного)
    inline-block - превращает элемент в гибрид блочного и строчного

    Элемент реагирует на отступы и ширину, и так же является строчным
    */
}
