body {
    font-family: sans-serif;  /* шрифт без засечек */
    font-size: 18px;  /* размер всего текста на странице */
    line-height: 1.6;  /* междустрочный интервал */
    color: #383838;  /* цвет шрифта не должен быть черным */

    background: url("https://img.delo-vcusa.ru/2020/01/humus-za-10-minut.jpg");
    /* задать фон страницы с помощью изображения */
    background-repeat: no-repeat;  /* картинка не повторялась на фоне несколько раз */
    background-size: cover;  /* растягивает картинку на всю площадь экрана */
}

h1, h2 {
    text-align: center;  /* расположение текста по центру */
}

.container {
    width: 80%;  /* ширина блока относительно ширины страницы */
    margin: 0 auto;  /* отступы 0пикселей верх/низ, автомат лево/право */
    padding: 20px; /* внутренний отступ - 20 пикселей со всех сторон */
    background-color: rgba(255, 255, 255, 0.95);
    /* rgba(красный, зеленый, синий, непрозрачность) */
}


