* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 1.2em;
    margin-bottom: 1em;
    background: #fff6eb;
    color: #595959;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.images-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;  /* свободное место вокруг всех флекс-элементов */
}

.images-gallery > li {
    list-style: none;  /* убираем точечки с картинок */
    flex-basis: 20%;
    position: relative;
    cursor: pointer;
}

.images-gallery li img {
    object-fit: cover;  /* тип того, как изображение будет накладываться на li (оно будет его накрывать) */
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 0.2em;
}

.images-gallery::after {  /* очищаем область после галери */
    content: "";
    flex-basis: 20%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.49);
    top: 0;  /* приклею плитку к изображению сверху */
    left: 0;  /* приклею плитку к изображению слева */
    transform: scale(0);  /* убираю видимость */
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 0.2em;

    /* оцентриуем текст по изображению */
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-gallery li:hover .overlay {
    transform: scale(1);  /* увеличиваю размер перекрытия до 100% */
}