* {
    margin: 0;
    padding: 0;
    color: #3f3f3f;
    font-size: 18px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #505050;
    text-decoration: underline;
}

.btn {
    display: block;
    text-decoration: none;
    background: #fafafa;
    padding: 0.3em 0.6em;  /* 0.3 сверху и снизу, 0.6 слева и справа */
    border: 0.01em solid grey;
    border-radius: 0.5em;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    text-decoration: none;
    cursor: pointer;  /* превращает курсор из стрелки в палец  */
}

.btn-outline-success {
    border-color: #1d811d;
    color: #1d811d;
}

.btn-outline-success:hover {
    background: #1d811d;
    color: #fff;
}

.btn-outline-info {
    border-color: #7efff0;
    color: #7efff0;
}

.btn-outline-info:hover {
    background: #7efff0;
    color: #fff;
}

.main-header {
    padding: 1.5rem;  /* 0.5 от паддинга, встроенного в браузера */
    background: #eaeaea;
    display: flex;
    margin-bottom: 1.2rem;
    justify-content: space-between;
}

.main-menu {
    display: flex;
    list-style: none;  /* убираем точки у пунктов списка */
}

.main-menu > li {
    display: block;
    margin-right: 1.6rem;
}

.nav-link {
    transition: all 0.5s ease-in-out;
}

.nav-link:hover {
    text-decoration: none;
    color: #9f9f9f;
}

.big {
    font-weight: bold;
    font-size: 1.1rem;
}

.main-heading {
    display: block;
    margin-bottom: 1rem;
    font-size: 2.8em;
    text-align: center;
}

.timetable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 25%;
    padding: 3rem;
    margin: 1rem 0;
    border: 0.02em solid gray;
    border-radius: 0.7em;
}






