div, p {
    width: 90%;
    border-left: 5px solid rgba(238, 130, 238, 0.53);
    /* border:
     left - слева
     right - справа
     top - сверху
     bottom - снизу
     */
    background: rgba(116, 116, 255, 0.52);
    padding: 20px;  /* внутренний отступ */
}

i, b {
    background: yellow;
    width: 20px; /* работать не будет, потому что элементы строчные */
}

.btn {
    /* чтобы превратить строчный элемент в блочный, нужно написать  */
    display: block;  /* превращение в блочный элемент */

    border: 2px solid red;
    border-radius: 2em;  /* скругление рамок по углам */
    /* emphasis - относительные единицы измерения */
    width: 5%;
    margin: 20px;
    padding: 5px;
    text-align: center;
    color: red;
    text-decoration: none;  /* сброс базовых стилей ссылки */
}

/* псевдоклассы - это особые метки для элементов,
 которые позволяют изменять элемент в случае
 наступления какого-то события.
 События для ссылки:
 - hover - над ссылкой появляется курсор
 - active - на ссылку нажимуют
 - visited - по ссылке уже переходили

 Псевдоклассы пишутся через : после селектора.
 */

.btn:hover {  /* пишу стилизацию для кнопки, когда на нее наводится курсор  */
    background: red;  /* Делаю фон красным */
    color: white;  /* делаю цвет текста белым */
    border: none;  /* отключаю рамку  */
}

p:hover {
    color: bisque;
}
