.container {
    width: 20%;
    display: flex;
    height: 40vh;
    background: #fafafa;
    flex-wrap: wrap;  /* когда элементы не помещаются в контейнер,
     они будут переноситься на другие строки */
}

div {
    width: 120px;
    height: 120px;
    color: white;
    margin: 1%;

    /* flex-basis: 160px;  влияет на размер элементов
    вдоль главной оси. */
    flex-grow: 2;  /* увелмчивает ширину элемента относительно единиц, которые ей указаны */
}

.first {
    background: #8aff8a;
}
.second {
    background: #ffe74c;
}
.third {
    background: #ff6363;
    flex-grow: 10;
}
.fourth {
    background: #84c8ff;
}
.fifth {
    background: #6ee3c1;
}
.sixth {
    background: #efb140;
}