* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 1.2em;
    margin-bottom: 1em;
    background: #fff6eb;
    color: #595959;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.images-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;  /* свободное место вокруг всех флекс-элементов */
}

.images-gallery > li {
    flex-basis: 20%;
}

.images-gallery li img {
    object-fit: cover;  /* тип того, как изображение будет накладываться на li (оно будет его накрывать) */
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
